package web

templ notFound() {
    <div class="flex flex-col items-center justify-center gap-10">
		<h1 class="text-center text-4xl font-secondary">404 Not Found</h1>
		<a class="inline-flex items-center gap-2 relative text-xxs px-4 py-2 h-10 font-secondary bg-blue-primary text-white shadow-[0_4px_#000,0_-4px_#000,4px_0_#000,-4px_0_#000] before:absolute before:content-[''] before:shadow-[inset_-4px_-4px_#006bb3] before:inset-0 hover:bg-blue-hover active:before:shadow-[inset_4px_4px_#006bb3] md:text-xs" href="/">
			<span class="font-secondary">Back to home</span>
		</a>
    </div>
}